<div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <!-- Start Main-menu Ares -->
            <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                <nav class="mainmenu__nav hidden-xs hidden-sm">
                    <ul class="main__menu">
                        <li class="drop"><a href="/">Home</a></li>
                        <!-- <li class="drop"><a href="portfolio-card-box-2">portfolio</a> -->
                        <!-- <ul class="dropdown">
                                <li><a href="portfolio-card-box-2">portfolio</a></li>
                                <li><a href="single-portfolio">Single portfolio</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <li class="drop"><a href="/blog">Blog</a>
                            <!-- <ul class="dropdown">
                                <li><a href="blog">blog 3 column</a></li>
                                <li><a href="blog-details">Blog details</a></li>
                            </ul> -->
                        </li>
                        <li class="drop"><a href="/shop">Shop</a>
                            <!-- <ul class="dropdown mega_dropdown"> -->
                            <!-- Start Single Mega MEnu -->
                            <!-- <li><a class="mega__title" href="shop">shop layout</a>
                                    <ul class="mega__item">
                                        <li><a href="shop">default shop</a></li>
                                    </ul>
                                </li> -->
                            <!-- End Single Mega MEnu -->
                            <!-- Start Single Mega MEnu -->
                            <!-- <li><a class="mega__title" href="shop">product details layout</a>
                                    <ul class="mega__item">
                                        <li><a href="product-details">tab style 1</a></li>
                                    </ul>
                                </li> -->
                            <!-- End Single Mega MEnu -->
                            <!-- Start Single Mega MEnu -->
                            <!-- <li>
                                    <ul class="mega__item">
                                        <li>
                                            <div class="mega-item-img">
                                                <a href="shop">
                                                    <img src="/images/feature-img/3.png" alt="">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li> -->
                            <!-- End Single Mega MEnu -->
                            <!-- </ul> -->
                        </li>
                        <!-- <li class="drop"><a href="">pages</a>
                            <ul class="dropdown">
                                <li><a href="about">about</a></li>
                                <li><a href="">testimonials <span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                    <ul class="lavel-dropdown">
                                        <li><a href="customer-review">customer review</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop">shop</a></li>
                                <li><a href="shop-sidebar">shop sidebar</a></li>
                                <li><a href="product-details">product details</a></li>
                                <li><a href="cart">cart</a></li>
                                <li><a href="wishlist">wishlist</a></li>
                                <li><a href="checkout">checkout</a></li>
                                <li><a href="team">team</a></li>
                                <li><a href="login-register">login & register</a></li>
                            </ul>
                        </li> -->
                        <li><a href="/contact">contact</a></li>
                    </ul>
                </nav>
                <div class="mobile-menu clearfix visible-xs visible-sm">
                    <nav id="mobile_dropdown">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- <li><a href="">portfolio</a> -->
                            <!-- <ul>
                                    <li><a href="portfolio-card-box-2">portfolio</a></li>
                                    <li><a href="single-portfolio">Single portfolio</a></li>
                                </ul> -->
                            <!-- </li> -->
                            <li><a href="/blog">blog</a>
                                <!-- <ul>
                                    <li><a href="blog">blog 3 column</a></li>
                                    <li><a href="blog-details">Blog details</a></li>
                                </ul> -->
                            </li>
                            <!-- <li><a href="">pages</a>
                                <ul>
                                    <li><a href="about">about</a></li>
                                    <li><a href="customer-review">customer review</a></li>
                                    <li><a href="shop">shop</a></li>
                                    <li><a href="shop-sidebar">shop sidebar</a></li>
                                    <li><a href="product-details">product details</a></li>
                                    <li><a href="cart">cart</a></li>
                                    <li><a href="wishlist">wishlist</a></li>
                                    <li><a href="checkout">checkout</a></li>
                                    <li><a href="team">team</a></li>
                                    <li><a href="login-register">login & register</a></li>
                                </ul>
                            </li> -->
                            <li><a href="/contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Main-menu Ares -->
            <div class="col-md-2 col-sm-4 col-xs-3">
                <ul class="menu-extra">
                    <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                    <div class="main__menu">
                        <li class="drop"><a href="/user"><span class="ti-user"></span></a>
                            <ul class="dropdown">
                                <li><a href="/user">Login or Register</a></li>
                                <li><a href="/user/profile" style="width: 100%;">Nguyen Phuc Thinh</a></li>
                                <li><a href="/user/logout">LogOut</a></li>
                            </ul>
                        </li>
                    </div>
                    <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                    <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu-area"></div>
    </div>
</div>